Repository FriendsOfOpenTelemetry/opentelemetry-bundle, pull requests merged in 2025-04, with the labels that each got.

#165 fix(Instrumentation/Messenger): remove TraceableStamp usage from TraceableMiddleware and TraceableStack
  src/Instrumentation/Symfony/Messenger/TraceableMessengerMiddleware.php
  src/Instrumentation/Symfony/Messenger/TraceableMessengerStack.php
  src/Instrumentation/Symfony/Messenger/TraceableStamp.php
Labels: Component: Messenger, Subject: Traces, Code: Instrumentation

#174 fix(OpenTelemetry/Metric): use named argument for InMemoryExporter instanciation
  src/OpenTelemetry/Metric/MetricExporter/InMemoryMetricExporterFactory.php
Labels: Subject: Metrics

#167 fix(DependencyInjection/Configuration): normalize exporter headers according to PSR HTTP transport
  src/DependencyInjection/Configuration.php
  tests/Unit/DependencyInjection/ConfigurationTest.php
  tests/Unit/DependencyInjection/OpenTelemetryLogsExtensionTest.php
  tests/Unit/DependencyInjection/OpenTelemetryMetricsExtensionTest.php
  tests/Unit/DependencyInjection/OpenTelemetryTracesExtensionTest.php
Labels: Code: Configuration, Code: DependencyInjection, Code: Design
